body{
    font-family: Arial, sans-sarif;
    background-color: rgb(226, 224, 234);
    font-size: 20px;
    }
    header{text-align: center;
        background-color:rgb(248, 245, 253)
                
        
        
    }
    nav{font-size: larger;
        margin-right:100px;
    }
        